/* ----------------------------------- N A V B A R ----------------------------------- */
.nav{
    background: black;
    border-bottom: 6px solid red;
    position: fixed;
    width: 100%;
    top:0%;
    z-index: 2;
    padding: auto 20px;
}

.nav_ico-imagen{
    width: 65px;
    border-radius: 3em;
}

.ul{
    margin: auto 10px;
    margin-left: auto;
    /* padding: 20px; */
}

/* ----------------------------------       V I D E O       --------------------------------------------- */
.video{
    width: 100%;
    height: 100vh;
    /* border: 10px solid red; */
    object-fit: contain;

}

#video{
    width: 100%;
    height: 100vh;
    object-fit: cover;



}
/* ----------------------------------    C O N T E N I D O   -------------------------- */
.card{
    width: auto;
    height: 48vh;
    max-height: 48vh;
    -webkit-box-shadow: 3px 11px 42px -9px rgba(0,0,0,0.53);
-moz-box-shadow: 3px 11px 42px -9px rgba(0,0,0,0.53);
box-shadow: 3px 11px 42px -9px rgba(0,0,0,0.53);
}

.card:hover{
    z-index: 1px;
    -webkit-box-shadow: 2px -1px 8px 1px rgba(199,153,153,0.39);
-moz-box-shadow: 2px -1px 8px 1px rgba(199,153,153,0.39);
box-shadow: 2px -1px 8px 1px rgba(199,153,153,0.39);
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 4px;
    padding: 3px;
}

.title{
    font-size: 14px;
    white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
}

.date{
    font-size: 12px;
}
.body{
    max-height: 135px;
}
.image{
    display: flex;
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    object-fit: cover;

}
.img_imagen{
     width: 100%;
    height: 200px;
    opacity: .7;

}
.img_imagen:hover{
    opacity: 1;


}

 .button{
    text-align: center;
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0%;
} 

.button_link{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5px 10px;
    padding: 8px;
    border: transparent;
    border-radius: 6px;
    background: crimson;
    color: white;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: black
}

.sumary{
    margin: 5px 10px;
    max-height: 135px;
    word-wrap: break-word;
    overflow: hidden;
}

.sumary > p{
    font-size: small;
    text-align: justify;
    max-height: 135px;
}


/*-------------------------------   M O D A L ------------------------------------------------- */

.modal_logo{
    width: 40px;
}